name: Create and publish a Docker image
run-name: Create and publish a Docker image (alpine, ${{ github.event.inputs.version }})

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version (tag) of Docker image.
        required: true

env:
  REGISTRY: docker.io
  IMAGE_NAME: alpine

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Setup timezone to Europe/Zurich
        run: |
          sudo timedatectl set-timezone Europe/Zurich
          timedatectl

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: "{{ defaultContext }}:${{ IMAGE_NAME }}"
          platforms: linux/amd64,linux/arm64/v8
          pull: true
          push: true
          tags: nikolastankovic/${{ IMAGE_NAME }}:${{ github.event.inputs.version }}